<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.codegarage.quotes">

    <application
        android:name="tech.codegarage.quotes.application.QuoteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="tech.codegarage.quotes.activity.SplashActivity"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="tech.codegarage.quotes.activity.AppIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name="com.reversecoder.permission.activity.PermissionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name="tech.codegarage.quotes.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="tech.codegarage.quotes.activity.AuthorDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name="tech.codegarage.quotes.activity.QuoteDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name="tech.codegarage.quotes.activity.FavouriteQuoteDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name="tech.codegarage.quotes.activity.AmazingTodayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- for database -->
        <meta-data
            android:name="DATABASE"
            android:value="quote.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.reversecoder.quote.model" />
    </application>

</manifest>