<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.codegarage.scheduler">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <service
            android:name="tech.codegarage.scheduler.service.AlarmService"
            android:enabled="true" />

        <receiver android:name="tech.codegarage.scheduler.receiver.AlarmSetter"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <!-- For pre-N devices -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="tech.codegarage.scheduler.receiver.AlarmReceiver"
            android:enabled="true" />

    </application>

</manifest>